.about_page {
  padding: 2rem;
  h1 {
    font-size: 3em;
    font-family: "medium";
    font-weight: 600;
    padding: 2rem 0;
  }
  p {
    font-size: 1.2em;
    padding: 10px 0;
    font-weight: 600;
    line-height: 1.4em;
    font-family: "thin";
  }
  button {
    margin: 1rem 0;
    background: #9d0bc8;
    font-family: "medium";
    border-radius: 15px;
    color: white;
    font-size: 1em;
    font-weight: 600;
    padding: 0px 37px;
    height: 50px;
    line-height: 50px;
    transition: color 350ms ease, background-color 350ms ease,
      border-color 350ms ease;
    &:hover {
      background-color: #601577;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
