@font-face {
  font-family: "normal";
  src: url("../../../@core/assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "medium";
  src: url("../../../@core/assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "mediumItalic";
  src: url("../../../@core/assets/fonts/Montserrat-MediumItalic.ttf");
}
@font-face {
  font-family: "italic";
  src: url("../../../@core/assets/fonts/Montserrat-Italic.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../../../@core/assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "thin";
  src: url("../../../@core/assets/fonts/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "boldItalic";
  src: url("../../../@core/assets/fonts/Montserrat-BoldItalic.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
